<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Score Board Manager</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name">Username</span></b>
        &nbsp;
        <i><span sec:authentication="principal.authorities">Roles</span></i>
    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <h1>Score Board</h1>


    <div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">

        <div>
            <a th:href="@{/teamlist}" >teams</a>
        </div>

        <div>
            <a th:href="@{/teams/new}">Add Team</a>
        </div>
        <div>
            <a th:href="@{/playerslist}">List players</a>
        </div>

        <div>
            <a th:href="@{/players/new}">Add players</a>
        </div>

        <div>
            <a th:href="@{/matches/new}">Create New Match</a>
        </div>

        <div>
            <a th:href="@{/matches}">Show all the matches</a>
        </div>

        <div>
            <a th:href="@{/matchDetails/new}">update match scores</a>
        </div>
        <div>
            <a th:href="@{/matchDetails}">Show match scores</a>
        </div>

    </div>

    <br/><br/>
    <h1>Welcome</h1>
</div>
</body>
</html>