<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>MatchList</title>

</head>
<body>

<div class="container text-center">
    <h1>List of Matches</h1>
    <div>

        <div>
            <a th:href="@{/matches/new}">Create New Match</a>
        </div>

        <br/><br/>
        <form th:action="@{/matches}">
            Filter: <input type="text" name="keyword" id="keyword" size="50" th:value="${keyword}" />
            &nbsp;
            <input type="submit" value="Search" />
            &nbsp;
            <input type="button" value="Clear" id="btnClear" onclick="clearSearch()" />
        </form>
        <br/><br/>

        <table class="table table-bordered">

            <thead class="text-center">

            <tr>
                <th>Match ID</th>
                <th>Name</th>
                <th>Venue</th>
                <th>Overs</th>
                <th>Winner/Looser</th>
                <th>Edit / Delete</th>
            </tr>

            </thead>
            <tbody>

            <tr th:each="matchList : ${matchlist}">
                <td>[[${matchList.id}]]</td>
                <td>[[${matchList.name}]]</td>
                <td>[[${matchList.venue}]]</td>
                <td>[[${matchList.overs}]]</td>
                <td>[[${matchList.winner.name}]] &nbsp; [[${matchList.looser.name}]]</td>

                <td><a th:href="@{'/matchList/edit/'+${matchList.id}}">Edit</a>
                    &nbsp;&nbsp;
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                    <a th:href="@{'/matchList/delete/'+${matchList.id}}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/}]]";
    }
</script>